name: Build Next.js app

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install NPM packages
        run: npm ci

      - name: Build Next.js app
        run: npm run build
        # env:
        #   URL_PREFIX: portfolio

      - name: Export Next.js app
        run: npm run export
